.combat_box {
    border-width: 1px;
    border-style: solid;
    border-color: #444444;
    width: 280px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #dddddd;
}

.combat_box__value_name {
    text-align: right;
    font-size: 12px;
    margin: 0 0;
}

.combat_box__value {
    text-align: right;
    font-size: 13px;
    margin: 0 0;
    width: 34px;
    padding: 0 4px;
}

.combat_box__value--good {
    background-color: #44dd44;
}

.combat_box__value--bad {
   background-color: #dd4444;
}

.combat_box__value--medium {
    background-color: #aaaaaa;
}


 .combat_box__participants {
    font-weight: bold;
    font-size: 13px;
    margin: 0 0;
}
