.footer {
    display: flex;
    flex-flow: column;
    color: #eeeeee;
    margin: 10px 10px;
    font-size: 12px;
}

.footer__row {
    margin: 0 0;
}

.footer__caption {
    color: #cccccc;
    font-size: 12px;
}

.footer__value {
    color: #cccccc;
    font-size: 13px;
}
