.title-bar {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #eeeeee;
}
.title-bar__title {
    margin: 10px 0 0 0;
    font-size: 22px;
}
.title-bar__subtitle {
    margin: 0 0 10px 0;
    font-size: 13px;
}
